<div class="app-option-menu" id="myTopnav"
  #stickyMenu2
     [class.sticky] = "sticky" >
    <a onclick="myFunction2()"  [routerLink]="['/']">Store Online</a>
    <a onclick="myFunction2()"  [routerLink]="['/listShoes/List']" *ngIf="login">Inicio</a>
    <a onclick="myFunction2()"  [routerLink]="['listShoes/Niño/One']"*ngIf="login">Niño</a>
    <a onclick="myFunction2()"  [routerLink]="['listShoes/Niña/Two']"*ngIf="login">Niña</a>
    <a onclick="myFunction2()"  [routerLink]="['create_categoria']"*ngIf="login">Categoria</a>
    <a onclick="myFunction2()"  [routerLink]="['create_shoe']" *ngIf="login">IngresarProducto</a>
    <a onclick="myFunction2()" routerLink="/cart" *ngIf="login">Carrito</a>
    <a id="singup" [routerLink]="['Perfil',idUser]" (click)="hola()">Perfil</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
    </a>
</div>



