<div class="app-option-menu" id="myTopnav"
  #stickyMenu2
     [class.sticky] = "sticky" >
    <a onclick="myFunction2()"  [routerLink]="['/']">Store Online</a>
    <a onclick="myFunction2()"  [routerLink]="['/listShoes/List']" *ngIf="login">Inicio</a>
    <a onclick="myFunction2()"  [routerLink]="['create_categoria']"*ngIf="login">Categoria</a>
    <a onclick="myFunction2()"  [routerLink]="['Denuncias']"*ngIf="login">Denuncias</a>
    <a onclick="myFunction2()"  [routerLink]="['create_shoe']" *ngIf="login">IngresarProducto</a>
    <a onclick="myFunction2()" routerLink="/cart" *ngIf="login">Carrito</a>
  <div class="subnav">
    <a class="subnavbtn" onclick="myFunction2()" *ngIf="login" [routerLink]="['Denuncias']">Reportes</a>
    <div class="subnav-content">
      <a href="#company">Bitacora</a>
      <a href="#team">Reporte 1</a>
      <a href="#careers">Reporte 2</a>
      <a href="#careers">Reporte 3</a>
      <a href="#careers">Reporte 4</a>
      <a href="#careers">Reporte 5</a>
      <a href="#careers">Reporte 6</a>
      <a href="#careers">Reporte 7</a>
    </div>
  </div>
    <a id="singup" [routerLink]="['Perfil',idUser]" (click)="hola()">Perfil</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
    </a>
</div>



