<br>
<div class="Form" style="text-align: center">
  <h2>Ingreso de Productos</h2>
  <div class="Form-SignUp">
    <form [formGroup]="insertShoe" (ngSubmit)="InsertShoe(insertShoe.value)">
      <label>Nombre:</label>
      <br>
      <input type="text" formControlName="nombre">
      <br>
      <label>URl_Image:</label>
      <br>
      <input type="file"
             formControlName="foto"
             #userPhoto
             (change)="onFileSelected($event)"
             name="image"
             autocomplete="off"
      />
      <br>
      <label>Precio:</label>
      <br>
      <input type="number" formControlName="precio" >
      <br>
      <label>Descripcion:</label>
      <br>
      <input type="text" formControlName="detalleProducto">
      <br>
      <label>Categoria:</label>
      <br>
      <select formControlName="idCategoria" name="cars" id="cars">
        <option *ngFor="let cat of categorias ; index as id" [value]="cat.codido">{{cat.nombre}}</option>
      </select>
      <br>
      <input class="button" type="submit" value="Crear">
    </form>
  </div>
</div>

